<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Lohin</h1>
    <form method="Post" action="/user/login">
      <label>Email</label>
      <input type="text" required name="Email" />
      <label>Password</label>
      <input type="text" required name="Password" />
      <button>Login</button>
    </form>
  </body>
</html>
