<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Signup Page</h1>
    <form method="POST" action="/user">
      <label for="">Name</label>
      <input type="text" name="Name" />
      <label for="">Email</label>
      <input type="text" name="Email" />
      <label for="">Password</label>
      <input type="text" name="Password" />
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
